header{
  background-color: gray;
  max-width: 100%; /*ändras när man ändra storleken på fönstret*/
  height: 220px
}

body{
  background-color: gainsboro; /*grå*/
  margin: 0; /*footer och header hela vägen ut i kanterna*/
  padding: 0;
}

footer{
  background-color: gray;
  max-width: 100%;
  height: 90px;
  bottom: 0;
  left:40% /*så den är längst ner på sidan även om man lägger in mer saker*/
}

footer > p{
  font-family: 'Ranchers';
  font-size: 15px;
  text-align: right;
}

#rubrik{
  font-family: 'Ranchers';
  font-size: 110px;
  text-align: center;
  text-shadow: 5px 5px lightgray;
}

.i{
  width: 80px;
  vertical-align: middle; /*bilderna i rubriken skulle vara brevis texten men i mitten*/
}

#bilder{
  text-align: center; /*när man gör sidan mindre hamnar bilderna under men i mitten*/
  border-style: dotted;
  border-width: thick;
  margin-top: 25px;
  margin-bottom: 20px;
}

#total{
  display: flex;
  flex-wrap: wrap;
}

.text {
  width: 400px;
  text-align: center;
  margin: 20px;
}

.first {
  width: 300px;
  border-radius: 40px;
  padding: 20px;
  display: inline-block; /*bilderna är blocken och jag ville ha de brevid varandra*/
}

h1{
  font-family: 'Ranchers';
  font-size: 45px;
  text-align: center;
}

#underRubrik{
  display: flex;
  flex-direction: row; /*jag ville ha namnen brevid varandra i en rad*/
  flex-wrap: wrap; /*om man justerar storleken på fönstret kan hela flex-boxen anpassa sig om den behöver*/
  justify-content: space-around; /*gör mellanrum mellan föremålen men också mellan föremålen och kanten*/
  text-shadow: 5px 5px gray;
}

#underRubrik > h1{
  font-size: 50px;
  text-align: center;
}

#list{
	display: flex;
	flex-direction: row; /*jag ville ha listorna brevid varandra i en rad*/
	flex-wrap: wrap; /*om man justerar storleken på fönstret kan hela flex-boxen anpassa sig om den behöver*/
	justify-content: space-around; /*gör mellanrum mellan föremålen men också mellan föremålen och kanten*/
}

#list > div{
  font-family: 'Ranchers', cursive;
  font-size: 25px;
  }

#gif{
  display: flex;
  flex-wrap: nowrap; /*när man gör sidan mindre vill jag inte att de ska hamna under*/
  justify-content: space-around;
}

.movingcat{
  height: 350px;
  display: inline-block; /*jag vill ha de brevis varndra men jag vill också få ändra höjden, vilket man inte får med bara inline*/
}

#wiki-link{
  background-color: gray;
  border-radius: 20px; /*rundar kanterna*/
  padding: 15px;
  font-family: arial, cursive;
  font-size: 15px;
  position: relative; /*för jag vill ha den i mitten*/
  left: 44%;
  text-decoration: none; /*inget understreck*/
  }

#gif2{
  display: flex; /* gör hela diven till en flexbox*/
  flex-wrap: nowrap; /* om jag gör sidan mindre så vill jag inte att bilderna ska hamna under varndra utan de försvinner om de inte för plats*/
  justify-content: space-around; /*jag ville ha bilderna i mitten men lika muycket från kanten som från varandra*/
}

#gif2 > img{
  height: 300px;
  margin: 50px;
}

a:visited { /*vanliga fall*/
  color: white;
}

a:hover { /*håller musen över*/
  color: hotpink;
}

#runningCat > img {
  position : absolute; /*eftersom jag inte vill att den ska påverka andra objekt*/
  height: 100px; /*hur stor bilden är*/
  animation: run 20s; /*animationen "run" ska köras i 20 sekunder*/
	animation-iteration-count: infinite; /*den ska upprepas hela tiden så den slutar inte*/
	animation-direction: alternate; /*om den inte ska gå framåt eller bakåt använder man alternativ*/
}

@keyframes run {
  0%   {left:0px; top: 120px; transform: rotateY(180deg);} /*i början ska den rotera ett halvt varv*/
  50% {left:90%; top:120px;  transform: rotateY(0deg);} /*efter halva ska den var 90% av skärmen till vänster*/
  100% {left:0px; top:120px; transform: rotateY(180deg);} /*sen ska den rotera ett halvt varv till när den är påväg tillbaka*/
}

#info{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 150px;
}

@keyframes names{
  0% { content : "Maine Coon" } /*texten ändras till det som skrivs i grönt*/
  10% { content: "Cornish Rex" }
  20% { content : "Sphynx" }
  30% { content : "Birman" }
  40% { content : "Ragdoll" }
  50% { content : "Siamese" }
  60% { content : "Abyssinian" }
  70% { content : "Devon Rex" }
  80% { content : "Bengal" }
  90% { content : "Ocicat" }
  100% { content : "Oriental" }
}

.change-text::after {
  animation : names 40s infinite; /*animationen kommer köras i 40 sekunder föralltid*/
  content: ""; /*den ska skriva ut det som står innom citationstecknen*/
  text-align: center;
  font-size: 60px;
  font-family: 'Ranchers';
  margin-top: 200px;
  color: darkblue;
}

#change-image   {
    height: 400px;
    border-radius: 25px; /*rundar kanterna*/
    border: thick dotted;
    position: relative;
    animation: image 40s infinite;
}

@keyframes image {
  0% { content : url(../bilder/mainecoon.jpg) } /*den kommer byta mellan dessa bilder*/
  10% { content : url(../bilder/cornish.jpg) }
  20% { content : url(../bilder/sphynx.jpg) }
  30% { content : url(../bilder/birman.jpg) }
  40% { content : url(../bilder/ragdoll.jpg) }
  50% { content : url(../bilder/siamese.jpg) }
  60% { content : url(../bilder/abyssinian.jpg) }
  70% { content : url(../bilder/devon.jpg) }
  80% { content : url(../bilder/bengal.jpg) }
  90% { content : url(../bilder/ocicat.jpg) }
  100% { content : url(../bilder/oriental.jpg) }
}
