header{
  background-color: gray;
  max-width: 100%; /*ändras när man ändra storleken på fönstret*/
  height: 160px
}

body{
  background-color: gainsboro; /*grå*/
  margin: 0; /*footer och header hela vägen ut i kanterna*/
  padding: 0;
}

footer{
  background-color: gray;
  max-width: 100%;
  height: 90px;
  bottom: 0;
  left:40% /*så den är längst ner på sidan även om man lägger in mer saker*/
}

footer > p{
  font-family: 'Ranchers';
  font-size: 15px;
  text-align: right;
}

#rubrik{
  font-family: 'Ranchers';
  font-size: 110px;
  text-align: center;
  text-shadow: 5px 5px lightgray;
}

.i{
  width: 80px;
  vertical-align: middle; /*bilderna i rubriken skulle vara brevis texten men i mitten*/
}

#bilder{
  text-align: center; /*när man gör sidan mindre hamnar bilderna under men i mitten*/
  border-style: dotted;
  border-width: thick;
  margin-top: 25px;
  margin-bottom: 20px;
}

#total{
  display: flex;
  flex-wrap: wrap;
}

.text {
  width: 400px;
  text-align: center;
  margin: 20px;
}

.first {
  width: 300px;
  border-radius: 40px;
  padding: 20px;
  display: inline-block; /*bilderna är blocken och jag ville ha de brevid varandra*/
}

h1{
  font-family: 'Ranchers';
  font-size: 45px;
  text-align: center;
}

#underRubrik{
  display: flex;
  flex-direction: row; /*jag ville ha namnen brevid varandra i en rad*/
  flex-wrap: wrap; /*om man justerar storleken på fönstret kan hela flex-boxen anpassa sig om den behöver*/
  justify-content: space-around; /*gör mellanrum mellan föremålen men också mellan föremålen och kanten*/
  text-shadow: 5px 5px gray;
}

#underRubrik > h1{
  font-size: 50px;
  text-align: center;
}

#list{
	display: flex;
	flex-direction: row; /*jag ville ha listorna brevid varandra i en rad*/
	flex-wrap: wrap; /*om man justerar storleken på fönstret kan hela flex-boxen anpassa sig om den behöver*/
	justify-content: space-around; /*gör mellanrum mellan föremålen men också mellan föremålen och kanten*/
}

#list > div{
  font-family: 'Ranchers', cursive;
  font-size: 25px;
  }

#gif{
  text-align: center;
  display: flex;
  flex-wrap: nowrap; /*när man gör sidan mindre vill jag inte att de ska hamna under*/
  justify-content: space-around;
}

.movingcat{
  height: 350px;
  display: inline-block;
}

#wiki-link{
  background-color: gray;
  border-radius: 20px; /*rundar kanterna*/
  padding: 15px;
  font-family: arial, cursive;
  font-size: 15px;
  position: relative; /*för jag vill ha den i mitten*/
  left: 44%;
  text-decoration: none; /*inget understreck*/
  }

#gif2{
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

#gif2 > img{
  height: 300px;
  margin: 50px;
}

#door{
  text-align: center;
}

#door img, h2{
  height: 500px;
  border-radius: 30px;
  text-align: center;
  font-family: 'Ranchers';
  font-size: 50px;
  vertical-align: middle;
  margin-left: 200px;
  margin-right: 200px;

}

a:visited { /*vanliga fall*/
  color: white;
}

a:hover { /*håller musen över*/
  color: hotpink;
}

#test > img {
  height: 100px;
  position: absolute;
  animation: testFunction 15s linear 1s infinite alternate;
}

@keyframes testFunction {
  0%   {left:2%; transform: rotateY(0deg);top:500px; top:0;}
  25%  {left:94%; top:0;}
  50%  {left:94%; top:500px;}
  75%  {left:2%; transform: rotateY(180deg);top:500px;}
  100% {left:2%; top:0;}
}
